<div class="all ">
    <div class="container w-75 d-flex justify-content-between align-items-center h-100">
        <!-- Logo -->
        <div>
            <img src="../../../../assets/images/logos/whietLogo.svg" alt="brand Logo">

        </div>
        <!-- Services -->
        <ul class="links d-flex justify-content-evenly">
            <li>
                <a role="button" href="#">About Us</a>
            </li>
            <li>
                <a role="button" href="#">Solutions</a>
            </li>
            <li>
                <a role="button" href="#">Careers</a>
            </li>
            <li>
                <a role="button" href="#">Contact Us</a>
            </li>
        </ul>
        <!-- Social Media -->
        <ul class="social">
            <li>
                <a role="button" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a role="button" href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a role="button" href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- CopyRights Section -->
    <div class="copyRights">
        <p class="text-center">
            &#169; 2020 Expert Apps, All rights Reserved
        </p>
    </div>
</div>